{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div style="padding: 0 0 0 60px;">
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}! <a href="{{ path('app_logout') }}">Log Out</a>, then you can register.
            </div>
        {%else%}
            <h1 class="h3 mb-3 font-weight-normal" style="padding-top: 35px">Register</h1>

            {{ form_start(registrationForm) }}

            <div style="padding-left: 10px">
                {{ form_label(registrationForm.email) }}
            </div>
            {{ form_widget(registrationForm.email, {'attr': {'style': 'width: 40%; border-radius: 7px; border-width: 0.5px; border-color: lightgrey'}}) }}
            <div class="text-danger">
                {{ form_errors(registrationForm.email) }}
            </div>

            <div style="padding-left: 10px; padding-top: 10px">
                {{ form_label(registrationForm.firstName) }}
            </div>
            {{ form_widget(registrationForm.firstName, {'attr': {'style': 'width: 40%; border-radius: 7px; border-width: 0.5px; border-color: lightgrey'}}) }}
            <div class="text-danger">
                {{ form_errors(registrationForm.firstName) }}
            </div>

            <div style="padding-left: 10px; padding-top: 10px">
                {{ form_label(registrationForm.lastName) }}
            </div>
            {{ form_widget(registrationForm.lastName, {'attr': {'style': 'width: 40%; border-radius: 7px; border-width: 0.5px; border-color: lightgrey'}}) }}
            <div class="text-danger">
                {{ form_errors(registrationForm.lastName) }}
            </div>

            <div style="padding-left: 10px; padding-top: 10px">
                {{ form_label(registrationForm.phoneNumber) }}
            </div>
            {{ form_widget(registrationForm.phoneNumber, {'attr': {'style': 'width: 40%; border-radius: 7px; border-width: 0.5px; border-color: lightgrey'}}) }}
            <div class="text-danger">
                {{ form_errors(registrationForm.phoneNumber) }}
            </div>

            <div style="padding-left: 10px; padding-top: 10px">
                <label for="inputPassword">Password</label>
            </div>
            {{ form_widget(registrationForm.plainPassword, {'attr': {'style': 'width: 40%; border-radius: 7px; border-width: 0.5px; border-color: lightgrey'}}) }}

            <div class="text-danger">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>

            <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 20px">
                Register
            </button>

            {{ form_end(registrationForm) }}
        {% endif %}
    </div>

{% endblock %}
