{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <div class="container py-5 h-100" style="margin-bottom: 141px">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card card-1">
                <div class="card-header bg-white">
                    <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                        <div class="col my-auto mt-3">
                            <h4 class="mb-1" style="font-weight: bolder">Thanks for your orders, {{ user.firstName }}
                                !</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {% if ordersList is empty %}
                                Your orders list is empty, go to <a href="{{ path('app_homepage') }}">product list</a>!
                            {% else %}
                                {% for order in ordersList %}
                                    <div class="card-body d-flex align-content-center justify-content-between">
                                        <div class="d-flex align-items-start">
                                            <h5 class="order-list">Order Number:</h5>
                                            <h5 class="mb-0"> {{ order.orderNumber }} </h5>
                                        </div>
                                        <div class="d-flex align-content-end">
                                            <h5 class="order-list">Created at:</h5>
                                            <h5 class="mb-0"> {{ order.createdAt|date("d/m/Y") }} </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <h5 class="order-address">Delivery Address: </h5>
                                        <h5 class="order-address"> {{ order.deliveryAddress }} </h5>
                                    </div>
                                    {% if order.getStatus == "Canceled" %}
                                        <div class="progress progress-bar bg-danger" >
                                            This order was canceled.
                                        </div>
                                    {% else %}
                                        <div class="progress">
                                            <div class="progress-bar {{ order.getStatus == "Delivered" ? 'bg-success' : order.getStatus == "Pending"  ? 'progress-bar-striped progress-bar-animated bg-warning ' }}"
                                                 role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                                 aria-valuemax="100"
                                                 style={{ order.getStatus == "Delivered" ? "width:100%" : order.getStatus == "Pending"  ? "width:48%" }}></div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <h6 class="order-list mt-2">Status:</h6>
                                            <h6 class="order-list mt-2">Pending</h6>
                                            <h6 class="order-list mt-2">Delivered</h6>
                                        </div>
                                    {% endif %}
                                    <hr class="my-4">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
