<div class="d-flex align-items-center">
    <h1 class="mt-3 mb-4" style="padding-top: 20px">Products</h1>
    <div class="d-flex align-items-center ms-lg-5">
        <h5 class="ms-lg-5" style="padding-top: 30px">Price range:</h5>
        <input class="price-range ms-1" type="number" min="1" id="minPrice" value="{{ minPrice }}">
        <h2 class="mt-4">-</h2>
        <input class="price-range" type="number" min="1" id="maxPrice" value="{{ maxPrice }}">
        <button class="btn btn-dark pt-0 pb-0 p-1 m-lg-1 mt-lg-4" onclick="updatePageByFilters(event)"><i class="fas fa-long-arrow-alt-right ms-0" style="color: whitesmoke"></i></button>
    </div>
    <div class="d-flex align-items-center ms-lg-5">
        <h5 class="ms-lg-5" style="padding-top: 30px">Sort:</h5>
        <select type="text" id="sortDropdown" class="form-control sort-dropdown" onchange="updatePageByFilters(event)">
            <option {{ (selectedOptionText|default and selectedOptionText == 'Price Ascending') ? 'selected' : '' }}
                    value="price-ASC">Price Ascending</option>
            <option {{ (selectedOptionText|default and selectedOptionText == 'Price Descending') ? 'selected' : '' }}
                    value="price-DESC">Price Descending</option>
            <option {{ (selectedOptionText|default and selectedOptionText == 'Alphabetical') ? 'selected'  : '' }}
                    value="name-ASC">Alphabetical</option>
        </select>
    </div>
</div>
<div class="row">
    {% for product in pagination %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ asset("images/"~product.image) }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title", style="font-weight: bold; padding-bottom: 5px">{{ product.name }} - {{ product.brand.name }}</h5>
                    {% if( product.inStock == 1 ) %}
                        <h6 class="card-title">
                            <span class="green-badge"> In Stock </span>
                        </h6>
                    {% else %}
                        <h6 class="card-title">
                            <span class="red-badge"> Out of Stock </span>
                        </h6>
                    {% endif %}
                    <div class="d-flex justify-content-between align-item-center">
                        <a href="{{ path('app_product_view', {id: product.id}) }}" class="btn btn-dark" style="margin-top: 10px">View details</a>
                        <span class="h5 mt-auto">{{ product.price }} €</span>
                    </div>
                    <button {{product.inStock ? '' : 'disabled'}} class="btn btn-warning" style="margin-top: 20px" data-url="{{path('app_addToCart', {id: product.id, quantity: 1})}}" onclick="addToCart(event)">Add to Cart</button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
