{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px">
        <div class="row mt-3 mb-4">
            <div class="col-md-4">
                <img src="/images/accessories.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">{{ product.name }} - {{ product.brand.name }}</h1>
                <h2>{{ product.price }} €</h2>
                {% if( product.inStock == 1 ) %}
                    <h6 class="card-title">
                        <span class="green-badge"> In Stock </span>
                    </h6>
                {% else %}
                    <h6 class="card-title">
                        <span class="red-badge"> Out of Stock </span>
                    </h6>
                {% endif %}
                <hr>
                <b>Description: </b>{{ product.description }}
                <div class="mt-4 p-4 bg-light">
                    <div class="input-group-prepend">
                        <label for="quantity">Quantity</label>
                        <input type="number" value="1" min="1" max="{{ product.quantity }}" class="form-control" id="quantity">
                        <button {{product.inStock ? '' : 'disabled'}} class="btn btn-warning" style="margin-top: 20px" data-url="{{path('app_addToCart', {id: product.id, quantity: 1})}}" onclick="addToCart(event)"> Add to Cart </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}