{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" style="padding: 50px 50% 20px 60px;">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Log Out</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <label for="inputEmail" style="padding-left: 10px">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" style="padding-left: 10px; padding-top: 10px">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 20px; margin-bottom: 70px">
        Sign in
    </button>
</form>
{% endblock %}
